@font-face {
    font-family: myFont;
    src:url(../Heavitas.ttf)
}

#mobile {
    display:none;
}

@media only screen and (max-width: 760px) {
    #desktop{
        display: none;
    }
    #mobile{
        display: block;
    }
  }

  #mobilecarousel {
    background-color:#010543;
  }

  #mobilecarousel h1 {
    color: #ffffff;
    font-family: myFont;
    padding: 5% 8% 1%;
    font-size: 240%;
  }